# ==============================================================================
# CONFIGURATION DU PROJET NATACHA
# ==============================================================================

# IP du broker MQTT (Cerveau)
BROKER_IP=127.0.0.1

# URL du serveur Llama (LLM en local)
LLAMA_SERVER_URL=http://127.0.0.1:8000/v1/chat/completions

# URL du serveur Kiwix (Savoir encyclopédique)
KIWIX_URL=http://192.168.1.100:8080

# Chemin vers la base de données ChromaDB
CHROMA_PATH=./memoire_chroma

# --- MODULES OPTIONNELS ---
# Mettre à True pour activer le module de détection visuelle "Œil", False sinon
OEIL_ACTIF=True
